# Python
__pycache__/
*.py[cod]

# Virtual env
venv/
.venv/
.env
.uv-cache/

# Django
db.sqlite3
media/
staticfiles/
.runlogs/

# JavaScript
node_modules/

# Frontend build artifacts
/student-platform-frontend/dist/
/student-platform-frontend/static/
/learning/templates/index.html
/learning/static/*
!/learning/static/learning/
!/learning/static/learning/**

# OS
.DS_Store
Thumbs.db
